<section class="hero pd">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Head in the Clouds</h1>
      <div class="is-two-thirds column is-paddingless">
        <h2 class="subtitle is-4">Since 1993.</h2>
      </div>
      <a class="button is-large is-primary" id="learn">Follow</a>
    </div>
  </div>
</section>

<section class="section pd">
  <div class="container">
    <div class="columns">
      <div class="column is-1 has-text-centered">
        <i class="fa fa-cog is-primary"></i>
      </div>
      <div class="column is-one-third">
        <p class="title"><strong>If you’re looking for some new ideas for your business I’d love to spend some time brainstorming ideas with you!</strong></p>
      </div>
      <div class="column">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nibh dolor, gravida eget imperdiet a, maximus sed elit. </p>
      </div>
    </div>
    <div class="columns pd">
    	<div class="column">
	      <div class="card">
	        <div class="card-content">
	          <p class="title">“Excellent brainstormer who provided great feedback on new systems and implementations for my business. Highly recommended if you think you’re business has hit a wall.”</p>
	          <p class="subtitle">- John Doe</p>
	        </div>
	      </div>
	    </div>
	    <div class="column">
	      <div class="card">
	        <div class="card-content">
	          <p class="title">“Excellent brainstormer who provided great feedback on new systems and implementations for my business. Highly recommended if you think you’re business has hit a wall.”</p>
	          <p class="subtitle">- John Doe</p>
	        </div>
	      </div>
	    </div>
	    <div class="column">
	      <div class="card">
	        <div class="card-content">
	          <p class="title">“Excellent brainstormer who provided great feedback on new systems and implementations for my business. Highly recommended if you think you’re business has hit a wall.”</p>
	          <p class="subtitle">- John Doe</p>
	        </div>
	      </div>
	    </div>
	  </div>
  </div>
</section>

